.icon-choice-ordered {
  margin: 10px 5px;
  font-size: 8px;
}
.node-ordered {
  background-color: burlywood;
  display: inline-block;
}

.node-choice {
  background-color: cadetblue;
  display: inline-block;
}

.node-value {
  background-color: beige;
  display: inline-block;
}
