.icon-choice-ordered {
  margin: 10px 5px;
  font-size: 8px;
}
.node-ordered {
  background-color: burlywood;
  display: inline-block;
}

.node-choice {
  background-color: cadetblue;
  display: inline-block;
}

.node-value {
  background-color: beige;
  display: inline-block;
}

input {
  display: inline-block;
}

.selected-node {
  background-color: darkblue;
  color: white;
  padding: 4px;
  padding-bottom: 0px;
}

.selected-input {
  border-color: #0071de;
}

.any-child-selected-node {
  background-color: lightgray;
}
